[Desktop Entry]
Name=KarttaGUI
Comment=Graphical frontend for Karttapullautin LiDAR map generation
Exec=KarttaGUI
Icon=KarttaGUI
Type=Application
Categories=Graphics;Geography;
Keywords=orienteering;map;LiDAR;LAS;LAZ;karttapullautin;
StartupNotify=true